@charset "utf-8";
/* CSS Document */


#smallLoader > div {
    background: url("../images/loader.gif") no-repeat scroll 0 0 transparent;
    height: 41px;
    left: 50%;
    margin: -18px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 56px;
	
}
.control-label span { color:#FF0000;}
/*register form ERROR Validattion */
.error {
    border: 1px solid #FF0000 !important;
}
#user_form label.error {
    width: 100%;
}
label.error {
    border: 0 none !important;
    clear: both;
    color: #FF0000;
    float: none;
    font-family: 'MyriadProRegular';
    font-size: 13px;
    margin-top: 0;
}
.input_error{color: #FF0000;
    float: left;
    font-family: 'MyriadProRegular';
    font-size: 13px;
    margin-top: 0px;}
	
	.active
	{
	color:red;
	}
.basketItemsWrap ul{ list-style:none; padding:0; margin:0;}

.viewcart_header{ background-color:#F17A28; padding:0; margin:0;font-weight:bold; margin-top:20px;}
.Delete1  img{ cursor:pointer;}


/*style created by shiv - 20th September 2013*/
.cart_total
{
background:#f1f1f1;
padding:10px;
border-radius:5px;
font-weight:bold;
}
.separator1
{
height:10px;
}
.separator2
{
height:20px;
}
.separator3
{
height:30px;
}
.bold
{
font-weight:bold;
}
.aleft
{
text-align:left !important;
}
.aright
{
text-align:right !important;
}
.acenter
{
text-align:center !important;
}

/* start jquery notify */

.jquery-notify-bar {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:32768;
    background-color:#efefef;
    font-size:18px;
    color:#000;
    text-align:center;
    padding:15px 0px;
    border-bottom:1px solid #bbb;
    cursor: pointer;
}
.jquery-notify-bar.error {
    color:#f00;
    background-color:#fdd;
}
.jquery-notify-bar.success {
    color:#FFF;
    background-color:#000;
}
.notify-bar-close {
    position:absolute;
    left:95%;
    font-size:11px;
}

/* end jquery notify */

.toppingdetail label.error {
    border: 0 none !important;
    clear: both;
    color: #FF0000;
    float: none;
    font-family: 'MyriadProRegular';
    font-size: 13px;
    margin-top: 0;
	width:100%;
	position:absolute;
	margin-top:17px;
}
.topping_heading{ color:#FF0000;}

.black{
	color:#000!important;
}