@charset "utf-8";
/* CSS Document */
.TextBoxDiv {
	margin-left:20px;
}
.newinputbox {
	margin-top:10px !important
}
.selectboxnew {
	margin: 0px;
	min-width : 50px;
	display : inline-block;
	text-align:left;
	height:22px;
	line-height:22px;
	cursor: pointer;
	border: solid 1px #BBB;
	outline: none;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	border-radius:3px;
	text-align:left;
	text-shadow:1px 1px 0 #f1f1f1;
	padding: 0px;
	text-indent: 0px;
	background-image: url(../images/select-bg.png);
	background-repeat: no-repeat;
	background-position: right center;
	text-shadow:#fff 1px 1px 0
}

.textbox { margin-top:10px; margin-left:5px !important}

.btn { cursor:pointer;}